@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');

.article_content > * {
    margin-bottom: 0.75rem
}

.article_content > p,
.article_content > ul {
    margin-bottom: 1.5rem;
}

ul, ol {
    padding-left: 40px;
    list-style-type: disc;
}

.hero-sect-bg {
    background-color: rgba(21, 28, 23, 0.85);
}

#nav_menu:before {
    content: "";
    border-left: 15px solid transparent;
    border-bottom: 15px solid #f0f0f0;
    border-right: 15px solid transparent;
    position: absolute;
    right: 7px;
    bottom: 99.5%;
    z-index: 1000000;
}

@media only screen and (max-width: 337px) {
    .logo {
        height: 50%;
    }
  }