{{ define "main" }}

{{ partial "hero.html" . }}
<div class="h-[3.579vh] bg-green-m"></div>

{{/*  Sections + media  */}}
{{ $homePosts := (where .Site.RegularPages "Type" "in" "home") }}
{{ range $index, $homePost := $homePosts }}
{{ $image := resources.Get (printf "images/%s" $homePost.Params.image_name) }}
{{ with $image }}
    {{/*  {{ $image = $image.ToWebp }}  */}}
    {{ $image = $image.Resize "600x jpg" }}
{{ end }}
    {{ if eq (mod $index 2) 0 }}
    <section class="max-w-[1320px] w-[95%] mx-auto mt-[2rem] mb-[6rem] lg:my-[11rem] flex flex-col justify-between items-start lg:flex-row">
    {{ else if eq (mod $index 2) 1 }}
    <section class="max-w-[1320px] w-[95%] mx-auto mt-[2rem] mb-[6rem] lg:my-[11rem] flex flex-col justify-between items-start lg:flex-row-reverse">
    {{ end }}
            <div class="max-w-[600px] article_content">
                <h2 class="text-[2.5rem] w-[95%] mx-auto text-center text-green-h font-extrabold font-condensed">{{ $homePost.Title }}</h2>
                <div class="h-[5px] bg-gray rounded-md"></div>
                {{ $homePost.Content }}
            </div>
            {{ if $image }}
                {{ if eq (mod $index 2) 0 }}
                <img src="{{ $image.RelPermalink }}" class="service_img {{/* before:w-[100%] before:h-[100%] before:bg-red-500 */}} w-[90%] max-w-[600px] h-auto rounded-2xl mx-auto lg:ml-[3rem] lg:mx-0">
                {{ else if eq (mod $index 2) 1 }}
                <img src="{{ $image.RelPermalink }}" class="service_img {{/* before:w-[100%] before:h-[100%] before:bg-red-500 */}} w-[90%] max-w-[600px] h-auto rounded-2xl mx-auto lg:mr-[3rem] lg:mx-0">
                {{ end }}
            {{ end }}
        </div>
</section>
{{ end }}

{{/*  Services  */}}
<section class="mb-[6rem] lg:my-[11rem]">
    <div class="mx-auto w-fit">
        <h2 class="text-[2.5rem] mx-auto text-center text-green-h font-extrabold">Our Services</h2>
        <div class="h-[5px] mb-4 bg-gray rounded-md"></div>
    </div>
    <div class="grid grid-cols-1 gap-4 mx-auto w-fit sm:grid-cols-2 xl:grid-cols-4">
    {{/*  <section class="flex justify-between flex-wrap max-w-[1320px] w-[95%] mx-auto">  */}}
        {{ $servicePosts := (where .Site.RegularPages "Type" "services") }}
        {{ range $index, $servicePost := $servicePosts }}
        {{ $link := $servicePost.Params.title }}
        {{ $link = replace $link " " "-" }}
        {{ $serviceImage := resources.Get (printf "images/%s" $servicePost.Params.image) }}
        {{ with $serviceImage }}
            {{/*  {{ $image = $image.ToWebp }}  */}}
            {{ $serviceImage = $serviceImage.Resize "300x jpg" }}
        {{ end }}
        <div class="w-[90vw] max-w-[312px] p-8 bg-darker-white rounded-2xl">
            {{ if $serviceImage }}<img src="{{ $serviceImage.RelPermalink }}" class="w-[75%] mx-auto rounded-full">{{ end }}
            <h2 class="text-center text-green-h font-extrabold font-condensed text-[1.25rem] py-4">{{ $servicePost.Title}}</h2>
            <div class="text-[0.875rem]">{{ $servicePost.Content }}</div>
            <div class="w-full flex justify-around bottom-0">
                <a href="{{ $link }}" class="block bg-green-l w-fit py-3 px-6 text-2xl rounded-md">Learn More</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{/*  Testimonials  */}}
<section class="mb-[6rem] lg:my-[11rem]">
    <div class="mx-auto w-fit">
        <h2 class="text-[2.5rem] mx-auto text-center text-green-h font-extrabold">Patient Testimonials</h2>
        <div class="h-[5px] mb-4 bg-gray rounded-md"></div>
    </div>
    <div class="flex w-[100vw] overflow-x-hidden whitespace-normal">
        {{ range $testimonial := (where .Site.RegularPages "Type" "testimonials") }}
            <div class="w-[100vw] shrink-0 flex">
                <div class="w-[90vw] max-w-[300px] mx-auto items-stretch border border-green-500 p-8">{{ $testimonial.Content }}</div>
            </div>
        {{ end }}
    </div>
</section>


<div class="w-full bg-darker-white border-t border-t-dark-gray">
    <div class="max-w-[930px] w-[90%] h-[360px] mx-auto flex flex-col justify-between items-center md:h-[100px] md:flex-row">
        <img src="images/CFPM.png" alt="CFPM" class="h-[25%] md:h-[80%]">
        <img src="images/APMA.png" alt="APMA" class="h-[25%] md:h-[80%]">
        <img src="images/OSoC.png" alt="OSoC" class="h-[25%] md:h-[80%]">
    </div>
</div>

{{ end }}