{{ define "main" }}

<div class="h-[3.579vh] bg-green-m"></div>
    <div class="my-4">
        <h2 class="text-[2.5rem] w-[95%] mx-auto text-center text-green-h font-extrabold font-condensed">About Us</h2>
        <div class="h-[5px] bg-gray rounded-md "></div>
    </div>

    {{ range (where .Site.RegularPages "Type" "in" "about")}}
    {{ $image := resources.Get (printf "images/portraits/%s" .Params.image)}}
    {{ with $image }}
        {{ $image = $image.Resize "600x jpg"}}
    {{ end }}
        <article class="w-[95vw] max-w-[1320px] mx-auto my-12">
            <div class="w-fit mx-auto">
                <h2 class="text-[2.5rem] text-center text-green-h font-extrabold font-condensed text-nowrap">{{ .Title }}</h2>
                <div class="h-[5px] bg-gray rounded-md mb-4"></div>
            </div>
            <div class="flex flex-col-reverse items-start mx-auto justify-center md:flex-row">
                <div class="article_content lg:mr-12 mx-auto max-w-[620px]">{{ .Content }}</div>
                {{ if $image }}
                    <img class="rounded-2xl w-1/2 mx-auto max-w-[400px] mb-4 md:mb-0" src="{{ $image.RelPermalink }}" width="400">
                {{ end }}
            </div>
        </article>
    {{ end }}


{{ end }}