<form class="flex flex-wrap justify-between w-[95%] max-w-[43.75rem] mx-auto border rounded-2xl p-4 lg:p-8">
    <div class="flex flex-col mb-4 w-full lg:w-[48%]">
        <label class="mb-1 pl-4" for="fName"><strong>First Name</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="text" id="fName" name="fName" placeholder="John">
    </div>
    <div class="flex flex-col mb-4 w-full lg:w-[48%]">
        <label class="mb-1 pl-4" for="lName"><strong>Last Name</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="text" id="lName" name="lName" placeholder="Doe">
    </div>
    <div class="flex flex-col mb-4 w-full lg:w-[48%]">
        <label class="mb-1 pl-4" for="email"><strong>Email Address</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="text" id="email" name="email" placeholder="johndoe@gmail.com">
    </div>
    <div class="flex flex-col mb-4 w-full lg:w-[48%]">
        <label class="mb-1 pl-4" for="phone"><strong>Phone Number</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="text" id="phone" name="phone" placeholder="(519) 123-4567">
    </div>
    <div class="flex flex-col mb-4 w-full">
        <label class="mb-1 pl-4" for="address"><strong>Address</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="text" id="address" name="address" placeholder="559 Exmouth St. at Oxford St. Sarnia, ON">
    </div>
    <div class="flex flex-col mb-4 w-full lg:w-[48%]">
        <label class="mb-1 pl-4" for="date1"><strong>Prefered Date</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="date" id="date1" name="date1">
    </div>
    <div class="flex flex-col mb-4 w-full lg:w-[48%]">
        <label class="mb-1 pl-4" for="date2"><strong>Backup Date</strong></label>
        <input class="bg-darker-white px-4 py-2 rounded-2xl" type="date" id="date2" name="date2">
    </div>
    <div class="flex flex-col mb-4 w-full">
        <label class="mb-1 pl-4" for="anythingElse"><strong>Anything Else We Should Know?</strong></label>
        <textarea class="bg-darker-white px-4 py-2 rounded-2xl resize-none" id="anythingElse" name="anythingElse" rows="6"></textarea>
    </div>
    <input class="block bg-green-h text-white w-fit py-3 px-10 text-2xl rounded-2xl ml-auto" type="submit" value="Submit">
</form>