<header class="z-40 bg-white top-0 h-[50px] border-b border-b-green-h sticky lg:h-[12.27vh]">
    <div class="w-[100%] max-w-[1200px] h-[100%] mx-auto flex items-center justify-between">
        <img src="/images/logo.png" class="h-[70%] block pl-[5px] md:pl-[0px]">
        <div id="burger" class="h-[100%] w-[50px] bg-green-h flex items-center justify-center md:hidden">
            <img src="/images/burger.svg" class="w-[75%]">
        </div>
        <div class="hidden md:block">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class=" text-2xl ml-[2vh]">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
</header>

<div id="nav_menu" class="z-50 rounded-md fixed flex flex-col bg-white border border-green-h right-2 top-12 w-[200px]">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" class="my-4">
        <div class="flex justify-between w-[80%] mx-auto">
        {{ .Name }}
        <svg class="h-[24px] w-[24px]" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
        </div>
    </a>
    <div class="h-[1px] w-[90%] bg-[#c0c0c0] mx-auto"></div>
    {{ end }}
</div>