<section class="w-[100%] h-hero-image bg-[url(../images/hero.jpg)] bg-cover bg-center flex items-center">    
    <div class="hero-sect-bg text-white w-[100%] flex flex-col items-center py-8">
        <h2 class="text-4xl lg:text-5xl font-bold font-condensed text-center mb-6">WELCOME TO MACZKO CHIROPODY</h2>
        <p class="text-2xl mb-6">Sarnia's best in foot care</p>
        <a href="#" class="block bg-green-h w-fit py-3 px-6 text-2xl font-bold rounded-md">Book Appointment</a>
    </div>
</section>