<section class="w-[100%] h-hero-image bg-[url(../images/hero.jpg)] bg-cover bg-center flex items-center">    
    <div class="hero-sect-bg text-white w-[100%] flex flex-col items-center py-[30px]">
        <h2 class="text-5xl font-bold font-condensed text-center">WELCOME TO MACZKO CHIROPODY</h2>
        <p class="text-2xl">Sarnia's best in foot care</p>
        {{/*  <div class="max-w-[900px] w-[90%] flex flex-col justify-between text-center md:flex-row">
            <div>
                <h4 class="m-0">Office Hours</h4>
                <p class="m-0">Mon – Thurs 8 AM – 5 PM</p>
                <p class="m-0">(Closed between 12 PM - 1 PM)</p>
            </div>
            <div>
                <h4 class="m-0">Contact US</h4>
                <p class="m-0"><strong>Phone:</strong> (519) 337-9540</p>
                <p class="m-0"><strong>Email:</strong> info@sorefoot.ca</p>
                <p class="m-0"><strong>Fax:</strong> (519) 337-2566</p>
            </div>
            <div>
                <h4 class="m-0">Our Location</h4>
                <p class="m-0">559 Exmouth St. at Oxford St.</p>
                <p class="m-0">Sarnia, ON</p>
                <p class="m-0">Entrance off Oxford St.</p>
            </div>
        </div>  */}}
    </div>
</section>